*{
    padding: 0;
    margin: 0;
}

body{
    background-color: hsl(30, 38%, 92%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.main{
    background-color: white;
    width: fit-content;
    margin: 50px 0px 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-bottom: -4px;
    height: 600px;
}

.text{
    display: grid;
    row-gap: 50px;
    width: 300px;
    padding: 0 30px;
    text-align: left;
}

h3{
    font-family: Montserrat;
    font-weight: 500;
    color: hsl(228, 12%, 48%);
}

h1{
    font-family: Fraunces;
    font-weight: 700;
    color: hsl(212, 21%, 14%);
}

p{
    font-family: Montserrat;
    font-weight: 500;
    font-size: 14px;
    color: hsl(228, 12%, 48%);
}

del{
    margin-left: 10px;
    font-size: 14px;
    color: hsl(228, 12%, 48%);
}

span{
    font-family: Fraunces;
    font-weight: 700;
    font-size: 32px;
    color: hsl(158, 36%, 37%);
}

button{
    display: block;
    background-color: hsl(158, 36%, 37%);
    color: white;
    padding: 15px;
    border-style: none;
    border-radius: 5px;
}

button:hover{
    background-color: hsl(158, 37%, 17%);
    cursor:pointer;
}